.screen {

    height: calc(100vh - #{$content-padding-mobile*2 + $navigation-height-mobile});

    &__content {
        display: none;

        @for $i from 0 through 3 {
            [data-view="#{$i}"] &--#{$i} {
                display: block;
            }
        }
    }
}