/*********************************\
< * Tweaking third party styles * >
\*********************************/
.a2cldr {

    .a2cldr-item {
        @extend %share-icon;
    }

    .a2cldr-google {
        background: url('/static/google.png') no-repeat;
    }
    .a2cldr-ical {
        background: url('/static/ical.png') no-repeat;
    }
    .a2cldr-outlook {
        background: url('/static/outlook.png') no-repeat;
    }
    .a2cldr-yahoo {
        background: url('/static/yahoo.png') no-repeat;        
    }
}