
body {
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    min-height: 400px;
    position: fixed;

    * {
        box-sizing: border-box;
    }

    @media screen and (min-width: 425px) {
        position: absolute;
    }

    @include bp('md') {
        min-height: 768px;
    }
}

// @media screen and (min-width: 425px) {
//     body {
//         position: absolute;
//     }
// }

// @media screen and (max-height: 768px) and (min-width: 768px) { // ¯\_(ツ)_/¯  ¯\_(ツ)_/¯  ¯\_(ツ)_/¯
//     body {
//         min-height: 768px;
//     }
// }