/*******************************\
< * Tweaking smooth scrolling * >
\*******************************/
#app {
    .smooth-picker {
        background-color: rgba(0,0,0,0);
    }
    .smooth-group:nth-of-type(1) {
        color: red!important;
        display: none;
    }
    .smooth-top,
    .smooth-bottom {
        background: rgba(0,0,0,0);
    }
}