.navigation {
    bottom: $content-padding-mobile;
    padding: 0 $content-padding-mobile;
    position: fixed;
    width: 100%;
    z-index: 1;

    &__btn {
        display: inline-block;
        vertical-align: middle;

        &--next {
            background: {
                image: url('/static/arrow.png');
                repeat: no-repeat;
                size: contain;
            }
            float: right;
            height: 24px;
            width: 29px;

            [data-view="2"] & {
                display: none;
            }
        }

        &--prev {
            display: none;
            position: fixed;
            top: $content-padding-mobile;
            left: $content-padding-mobile;

            [data-view="2"] & {
                display: block;
            }
        }
    }

    &__logo {
        display: inline-block;
        vertical-align: middle;

        [data-view="2"] & {
            display: block;
            text-align: center;
        }
    }

    &__img {
        width: 100px;
    }

    &__link {
        color: $white;
        text-decoration: none;
    }
}