.navigation {
    bottom: $content-padding-mobile;
    padding: 0 $content-padding-mobile;
    position: fixed;
    width: 100%;
    z-index: 1;

    &__btn {
        background: {
            image: url('/static/arrow.png');
            repeat: no-repeat;
            size: contain;
        }
        display: inline-block;
        vertical-align: middle;

        &--next {
            float: right;
            height: 24px;
            width: 29px;

            [data-view="2"] & {
                display: none;
            }
        }

        &--prev {
            display: none;
            float: right;
            height: 24px;
            transform: rotate(180deg);
            width: 29px;

            [data-view="2"] & {
                display: block;
            }
        }
    }

    &__logo {
        display: inline-block;
        vertical-align: middle;
    }

    &__link {
        color: $white;
        text-decoration: none;
    }
}