.navigation {
    position: relative;
    z-index: 1;

    &__elm {
        display: inline-block;

        &--logo {}

        &--next {
            float: right;
        }

        &--prev {
            float: right;
            margin-right: 15px;
        }
    }
}