.options {

    $space-for-icons: 60px;

    padding: 0 $content-padding-mobile;
    margin: $space-for-icons auto 0 auto; // to preserve space for widget icons
    max-width: 1024px;
    width: 100%;

    &__item {
        cursor: pointer;
        float: left;
        position: relative;
        width: 33.3333%;
    }

    &__icon {
        display: block;
        height: 40px;
        margin: 0 auto;

        @include bp('lg') {
            height: 70px;
        }
    }

    &__icon-desc {
        display: none;

        @include bp('lg') {
            display: block;
            font-size: 1rem;
            text-align: center;
            padding-top: 2rem;
        }
    }

    &__widget {
        display: inline-block;
        left: 0;
        min-width: 250px;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: -40px;
        transition: opacity .2s, top .2s;
        z-index: -1;

        @include bp('lg') {
            min-width: 400px;
            text-align: center;
        }

        &--open {
            opacity: 1;
            pointer-events: all;
            top: -70px;
        }

        &--0 {
            @include bp('lg') {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &--1 {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}