.screen {
    max-height: calc(100vh - #{$content-padding-mobile*2 + 85px}); // +85px to preserve space for sharing widgets view=2
    position: relative;
    
    &__content {
        @extend %layer;
        opacity: 0;
        padding: $content-padding-mobile;
        transition: all .3s;
        z-index: -1;

        @for $i from 0 through 3 {
            [data-view="#{$i}"] &--#{$i} {
                opacity: 1;
                z-index: 0;
            }
        }

        &--1 {
            padding: calc(50% - 40px) 20px 0 20px;
        }

        &--2 {
            padding: 0;
            // padding-top: $content-padding-mobile*2;
        }
    }
}