.screen {
    max-height: calc(100vh - #{$content-padding-mobile*2 + 85px}); // +85px to preserve space for sharing widgets view=2
    position: relative;
    
    &__content {
        @extend %layer;
        padding: $content-padding-mobile;
        transition: transform .5s;

        &--0 {
            transform: translateX(0);

            @include bp('lg') {
                padding: 0 10vw;
            }

            [data-view="1"] &,
            [data-view="2"] & {
                transform: translateX(-100%);
            }
        }

        &--1 {
            padding: calc(45vh - 100px) 20px 0 20px;
            transform: translateX(0);

            @include bp('lg') {
                padding: 0;
            }

            [data-view="0"] & {
                transform: translateX(100%);
            }

            [data-view="2"] & {
                transform: translateX(-100%);
            }
        }

        &--2 {
            padding: 0;
            transform: translateX(0);

            [data-view="0"] &,
            [data-view="1"] & {
                transform: translateX(100%);
            }
        }
    }
}