/*********************************\
< * Tweaking third party styles * >
\*********************************/
#app {
    // Custom elements
    .smooth-picker-container {
        height: 65px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        width: 270px;

        @include bp('lg') {
            display: none;
        }
    }
    .smooth-picker-divider {
        background: $white;
        display: block;
        height: 105%;
        left: 50%;
        position: absolute;
        transform: rotate(12deg);
        width: 3px;
    }
    .smooth-picker-window {
        border-radius: 5px;
        border: 3px solid $white;
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        width: 40%;
        
        &--left {
            left: 0;
        }

        &--right {
            right: 0;
        }
    }
    .smooth-picker-randomize {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(50vh - 40px);
        text-align: center;

        @include bp('lg') {
            display: none;
        }
    }
    .smooth-picker-icon {
        height: 50px;
        margin-bottom: 10px;
        width: 50px;
    }
    .smooth-picker-text {
        font-size: .75rem;
    }
    .smooth-picker-title-sm {
        font-size: 1.65rem;
    }

    // Widget native elements
    .smooth-picker {
        background-color: rgba(0,0,0,0);
        transform: translateY(-80px);
        margin: 0 -30px;
    }
    .smooth-group:nth-of-type(1) {
        display: none;
    }
    .smooth-top,
    .smooth-bottom {
        background: rgba(0,0,0,0);
        border: none;
    }
    .smooth-item {
        font-size: 1.8rem;
        font-weight: 300;
        height: 4.1rem;
        line-height: 1.4;
        overflow: visible;
        transition: margin-top .2s, font-size .2s;
    }
    .smooth-item-selected {
        font-size: 2.8rem;
        margin-top: 1rem;

        & + .smooth-item {
            margin-top: 2rem;
        }
    }
}