.welcome {

    @include bp('sm') {
        display: none; 
    }

    @media screen and (min-width: 375px) {
        display: block;
    }

    @media screen and (min-width: 768px) {
        text-align: center;
        padding-top: 20vh;
        * {
            font-size: 3rem;
        }
    }

    @include bp('lg') {
        padding-top: 0;
    }

    &--ip5 {
        display: block;
        @media screen and (min-width: 375px) {
            display: none;
        }
    }

    @include bp('lg') {
        margin-top: 50vh;
        transform: translateY(-60%);
    }

    @media screen and (max-height: 800px) {
        margin-top: 80px;
        transform: translateY(0);
    }
    
    @media screen and (max-height: 900px) and (min-width: 1024px) and (max-width: 1200px) {
        margin-top: 10vh;
        transform: translateY(0);

        * {
            font-size: 3.5rem;
        }
    }
}

.hide-m {
    @include bp('sm') {
        display: none;
    }
}