.welcome {
    display: none;

    // visible only from 375 => targeting iphon 6
    // for lower res there's a modifier '--ip5'
    @media screen and (min-width: 375px) {
        display: block;
    }

    /**************************\
    < * Very Tricky Tweaking * >
    \**************************/
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        text-align: center;
        padding-top: 20vh;

        * {
            font-size: 3rem;
        }
    }
    
    @include bp('lg') {
        margin-top: 50vh;
        padding-top: 0;
        transform: translateY(-60%);
    }

    @media screen and (max-height: 800px) and (min-width: 1025px) {
        margin-top: 80px;
        transform: translateY(0);
    }
    
    @media screen and (max-height: 900px) and (min-width: 1024px) and (max-width: 1200px) {
        margin-top: 10vh;
        transform: translateY(0);

        * {
            font-size: 3.5rem;
        }
    }

    // container with text for iPhone 5 only => resolution 320px
    &--ip5 {
        display: block;

        @media screen and (min-width: 375px) {
            display: none;
        }
    }
}