@import './_01-variables.scss';
@import './_02-placeholders.scss';
@import './_03-reset.scss';
@import './_04-utils.scss';

@import "./modules/app.scss";
@import "./modules/gradients.scss";
@import "./modules/navigation.scss";
@import "./modules/screen.scss";
@import "./modules/txt.scss";
@import "./modules/smooth-picker.scss";
@import "./modules/social.scss";
@import "./modules/options.scss";
@import "./modules/a2cldr.scss";

* { // why is it there? ¯\_(ツ)_/¯
    box-sizing: border-box;
}

body { // ¯\_(ツ)_/¯
    position: fixed;
    height: 100%;
}