/*************\
< * Spacing * >
\*************/

$content-padding-mobile: 35px;
$content-padding-desktop: 35px;

$navigation-height-mobile: 40px; 

$calendar-width-descktop: 340px;

/************\
< * Colors * >
\************/

$white: #fff;